.page-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 32px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.dashboardComponent {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.total-sold {
    background-color: #baffb7;
    border: 2px solid forestgreen;
    color: forestgreen;
}

.total-bought {
    background-color: #c7d1ff;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
}

.total-left {
    background-color: #ffc1c1;
    border: 2px solid indianred;
    color: indianred;
}

.productComponent {
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
    margin: 8px 0;
    max-width: 800px;
    gap: 30px;
    align-items: center;
    border: 2px solid grey;
    background-color: lightgray;
}

.productComponent img {
    width: 200px;
}

.productDetails {
    display: flex;
    flex-direction: column;
}

.productDetails h2 {
    font-size: 25px;
    margin: 10px 0;
}

.productDetails h3 {
    font-size: 35px;
    margin: 10px 0;
}

.productDetails p {
    font-size: 15px;
    margin: 10px 0;
}

.tvSpecs {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 10px 0;
}

.tvSpecs img {
    width: 10px;
    margin-right: 5px;
}

.sortingButtons {
    margin: 20px 0;
}

button {
    margin: 0 5px;
}

.allTvsList {
    padding: 20px 0;
}